/* 
File: styles.css
Author: Ian McAtee
Description:
  The style sheet for the Spatial Filter Lab website 
*/

/* CSS VARIABLES ----------------------------------------------------------*/

:root {
  --navPanelBackgroundColor: #FFFFFF;
  --settingsPanelBackgroundColor: #FFFFFF;
  --imageDisplayPanelBackgroundColor: #EFEFEF;
  --explainerPanelBackgroundColor: #FFFFFF;
  --accentColor: #5e8df3;
  --defaultFont: Montserrat;
  --btnToggledColor: #a1a5d4;
  --btnUntoggledColor: #EFEFEF;
}

/* GLOBAL PROPERTIES -----------------------------------------------------*/

/* Remove padding/margin for all elemnts */
*{ 
    padding: 0;
    margin: 0;
}

/* Set defaults for all text elements */
h1, h2, h3, h4, h5, h6, p {
    font-family: var(--defaultFont);
}

/* Custom style the main heading */
h1{
    font-size: 1.3rem;
    margin-left: 1rem;
}

/* Remove bullets from lists, as they are elements used for nav */
ul{
    list-style: none;
}

/* Set the main container as a row flexbox */
.main-container{
    display: flex;
    height: 100vh;
}


/* NAVIGATION PANEL PROPERTIES ----------------------------------------------------------*/

/* Set the navgational panel as a 3 row grid */
.nav-grid{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    height: 100vh;
    width: 15%;
    border: solid;
    border-width: 0px 4px 0px 0px;
}

/* Logo and title cell */
.logo-title-cell-container{
    grid-row: 1;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    border: solid;
    border-width: 0px 0px 2px 0px;
}

/* The filter type nav panel */
.filter-type-nav-container{
    grid-row: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* The bottom nav panel */
.bottom-nav-container{
    display: flex;
    flex-direction: column-reverse;
}

/* Header navigation buttons */
.header-nav-btn{
    width: 10rem;
    height: 2rem;
    border: none;
    border-radius: 15px;
    margin: 0.25rem 0rem;
    font-weight: 600;
}

/* Settings navigation buttons */
.settings-nav-btn{
    width: 10rem;
    height: 2rem;
    border: none;
    border-radius: 15px;
    margin: 0.25rem 0rem;
    font-weight: 600;
}

/* The indent levels for nested nav buttons */
.indent-level-1{
    margin-left: 1rem;
}

.indent-level-2{
    margin-left: 2rem;
}

/* SETTINGS PANE PROPERTIES -------------------------------------------------- */

#settings-container{
    background-color: #efefef;
    display: flex;
    flex-direction: column;
    width: 30%;
}

#kernel-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    width: fit-content;
}

.kernel-cell{
    width: 3.5rem;
}

.image-explainer-container{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 100%;
    width: 60%;
}

.images-display-grid{
    display: grid;
    flex-grow: 1;
    grid-template-columns: 1fr 1fr;
}

.original-image-container{
    grid-column: 1;
    background-color: #dfdfdf;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.filtered-image-container{
    grid-column: 2;
    background-color: #cfcfcf;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#explainer-container{
    background-color: #bfbfbf;
    display: flex;
    flex-direction: column;
    height: 40%;
    overflow-y: scroll;
}

#explainer-visibility-btn{
    width: 7rem;
    
}



.hidden{
    display: none;
}